<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    <a href="{% url 'logout'%}">rastreamento</a>
<header>
    <h1>Meu Projeto</h1>
</header>

<main>
    <div class="card">
        <h2>Bem-vindo, {{ request.user.username }} 👋</h2>
        <p>
            Você está logado com sucesso.<br>
            Esta é a página inicial do sistema.
        </p>
    </div>
</main>

</body>
</html>
